{% extends "base.html" %}
{% load static %}

<body>
{% block content %}

<script type="text/javascript">

        setInterval(function(){
        // The first request gets text info about the car
            $.ajax(
            {
                url: "/get_text_from_detector_outside/",
                type: "GET",
                success : function(data) {
                    $("#info").html(data);
                },

            });
        // The second request gets total number of cars on the video
            $.ajax(
            {
                url: "/get_total/",
                type: "GET",
                success : function(data) {
                    $("#total").html(data);
                },
            });
       },5000);
</script>

<!-- For authorized users -->
{% if logged_in == True %}

    <div class="container">

        <div class="text-center text-info">
            <h2>Внешняя камера</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <div class="text-left">
                    <!-- General info about the car -->
                    <div id="info">
                        <p>

                        </p>
                    </div>
                    <!-- Total number of cars -->
                    <div id="total">
                        <p>

                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="car_img"class="text-left">
                    <img class='img img-thumbnail rounded' src="{% url 'users:get_image_from_detector_outside' %}"/>
                </div>
            </div>
        </div>



    </div>
     <hr>
    <div class="btn btn-group-horizontal">
        <a class="ml-2" href="/index">
            <button class="btn btn-outline-info" type="submit">
                <span class="fa fa-home"></span>
                На домашнюю страницу
            </button>
        </a>
        <a class="ml-2" href="/car_detection_inside">
            <button class="btn btn-outline-info" type="submit">
                <span class="fas fa-exchange-alt"></span>
                Сменить камеру (внутренняя)
            </button>
        </a>
    </div>

<!-- For unauthorized users -->
{% else %}
    <h2>
        <span class="fa fa-exclamation" style="color:red;"></span>
        Вы не вошли в аккаунт.Содержимое страницы недоступно
        <span class="fa fa-exclamation" style="color:red;"></span>
    </h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a class="ml-2" href="/login">
                <button class="btn btn-outline-info" type="submit">
                    <span class="fa fa-sign-in"></span>
                    Войти
                </button>
            </a>
        </small>
    </div>
{% endif %}


{% endblock %}
</body>