{% extends "base.html" %}

{% load static %}
{% block content %}
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Home page</title>
    </head>
    <body>
    <!-- For authorized users -->
        {% if not logged_in %}
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                        <h3>
                            <p class="text-center">
                                Здравствуйте!
                                <br><br>
                                <small>Для начала работы необходимо: </small>
                            </p>
                        </h3>
                        <br>

                        <div class="text-center">
                            <a href="/login">
                                <button class="btn btn-outline-info" type="submit">
                                    <span class="fas fa-sign-in-alt"></span>
                                    Войти
                                </button>
                            </a>
                        </div>
                        <br>
                        <div class="text-center">
                            или
                        </div>
                        <br>
                        <div class="text-center">

                            <a href="/register">
                                <button class="btn btn-outline-info" type="submit">
                                    <span class="fas fa-feather-alt"></span>
                                    Зарегистрироваться
                                </button>
                            </a>
                        </div>

                    </div>
                    <div class="col"></div>
            </div>
    <!-- For unauthorized users -->
        {% else %}

            <div class="container">
                <div class="row">
                    <div class="col"></div>

                    <div class="col">

                        {% if messages%}
                            {% for message in messages %}
                                <p class="text-success text-center"><small>{{ message }}</small></p>
                            {% endfor %}
                        {% endif %}
                        <br><br>
                        <div class="text-center text-info">
                            <h3>Прямая трансляция с автомойки</h3>
                        </div>
                        <br>
                        <div class="text-center">
                           <a href="/car_detection_outside/">
                                <button class="btn btn-outline-info"  type="submit">
                                    <span class="fas fa-warehouse" style="color:gray; font-size:26px"></span>
                                   	&nbsp;&nbsp;Внешняя камера
                                </button>
                           <br><br>
                           </a>
                            <a href="/car_detection_inside/">
                                <button class="btn btn-outline-info"  type="submit">
                                    <span class="fas fa-shower" style="color:orange; font-size:26px"></span>
                                    &nbsp;&nbsp;Внутренняя камера
                                </button>
                           </a>
                        </div>
                        <br>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class="border-top pt-3">
                    <a href="/logout">
                        <button class="btn btn-light btn-sm">
                            <span class="fa fa-sign-out-alt" style="color:grey"></span>
                            Выйти из аккаунта
                        </button>
                    </a>
            </div>

            <br>
        {% endif %}
    </body>
    </html>
{% endblock %}