{% extends 'base.html' %}
{% load static %}
<head>

</head>

{% block content %}
    <div class="container">
        <!-- show all messages about successful authentication/incorrect user input -->
            {% if messages%}
                {% for message in messages %}
                    <p class="text-success text-center"><small>{{ message }}</small></p>
                {% endfor %}
            {% endif %}
    </div>
    <div>
        <div class="text-center text-info">
            <h3>Страница входа</h3>
            <br><br>
        </div>
    </div>

    <div class="container">
        <form class="form-horizontal" action="/login/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-md-2">Почта</label>
                    <div class="col-md-10">
                        {{ form.email }}
                    </div>
                    {{ form.email.errors }}

            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Пароль</label>
                    <div class="col-md-10">
                        {{ form.password1 }}
                    </div>
                    {{ form.password1.errors }}
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-md" type="submit">
                    <span class="fas fa-check"></span>
                    Войти
                </button>
            </div>

        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                 Нужен аккаунт? <a class="ml-2" href="/register">Зарегистрируйтесь!</a>
            </small>
        </div>
    </div>

{% endblock %}